<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.ipetstore.mapper.ItemMapper">

    <update id="updateInventoryQuantity" parameterType="Map">
    UPDATE INVENTORY SET
      QTY = QTY - #{increment}
    WHERE ITEMID = #{itemId}
    </update>

    <select id="getInventoryQuantity" parameterType="String" resultType="int">
    SELECT QTY AS value
    FROM INVENTORY
    WHERE ITEMID = #{itemId}
    </select>

    <select id="getItemListByProductId" parameterType="String" resultType="Item">
    SELECT
      I.ITEMID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "productId",
      P.PRODUCTID AS "product.productId",
      NAME AS "product.name",
      DESCN AS "product.description",
      CATEGORY AS "product.categoryId",
      IMG AS "product.imgUrl",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5,
      QTY AS quantity
    FROM ITEM I, PRODUCT P, INVENTORY V
    WHERE P.PRODUCTID = I.PRODUCTID
    AND I.ITEMID = V.ITEMID
    AND I.PRODUCTID = #{productId}
    </select>

    <select id="getItem" parameterType="String" resultType="Item">
    select
      I.ITEMID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "productId",
      P.PRODUCTID AS "product.productId",
      NAME AS "product.name",
      DESCN AS "product.description",
      CATEGORY AS "product.categoryId",
      IMG AS "product.imgUrl",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5,
      QTY AS quantity
    from ITEM I, INVENTORY V, PRODUCT P
    where P.PRODUCTID = I.PRODUCTID
      and I.ITEMID = V.ITEMID
      and I.ITEMID = #{itemId}
    </select>

    <select id="getItemListByProductName" parameterType="String" resultType="Item">
    SELECT
        I.ITEMID,
        LISTPRICE,
        UNITCOST,
        SUPPLIER AS supplierId,
        I.PRODUCTID AS "productId",
        P.PRODUCTID AS "product.productId",
        NAME AS "product.name",
        DESCN AS "product.description",
        CATEGORY AS "product.categoryId",
        IMG AS "product.imgUrl",
        STATUS,
        ATTR1 AS attribute1,
        ATTR2 AS attribute2,
        ATTR3 AS attribute3,
        ATTR4 AS attribute4,
        ATTR5 AS attribute5,
        QTY AS quantity
    from ITEM I, INVENTORY V, PRODUCT P
    where P.PRODUCTID = I.PRODUCTID
      and I.ITEMID = V.ITEMID
      and P.NAME = #{productName}
    </select>

    <delete id="deleteItem">
    DELETE FROM ITEM
    WHERE ITEMID = #{itemId}
    </delete>

    <update id="setInventoryQuantity" parameterType="Map">
    UPDATE INVENTORY SET
      QTY = #{qty}
    WHERE ITEMID = #{itemId}
    </update>

    <select id="getItemIdListByProductId" resultType="String">
    SELECT
        ITEMID
    FROM ITEM
    where PRODUCTID = #{productId}
    </select>

    <select id="countItemNum">
    SELECT COUNT(*)
    FROM ITEM
    </select>
    
    <insert id="insertItem">
        INSERT INTO ITEM(
            ITEMID,
            PRODUCTID,
            LISTPRICE,
            UNITCOST,
            SUPPLIER,
            STATUS,
            ATTR1,
            ATTR2,
            ATTR3,
            ATTR4,
            ATTR5
        )
        VALUES
            (#{itemId}, #{productId}, #{listPrice}, #{unitCost},  #{supplierId}, #{status},
             #{attribute1}, #{attribute2}, #{attribute3}, #{attribute4}, #{attribute5})
    </insert>

    <insert id="insertInventory">
    INSERT INTO INVENTORY
        (ITEMID, QTY)
    VALUES
        (#{itemId}, #{qty})
    </insert>
</mapper>