<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.ipetstore.mapper.ProductMapper">

    <cache/>

    <select id="getProductListByCategory" parameterType="String" resultType="Product">
    SELECT
      PRODUCTID,
      NAME,
      DESCN as description,
      CATEGORY as categoryId,
      IMG AS imgUrl
    FROM PRODUCT
    WHERE CATEGORY = #{categoryId}
    </select>

    <select id="getProduct" parameterType="String" resultType="Product">
    SELECT
      PRODUCTID,
      NAME,
      DESCN as description,
      CATEGORY as categoryId,
      IMG AS imgUrl
    FROM PRODUCT
    WHERE PRODUCTID = #{productId}
    </select>

    <select id="searchProductList" parameterType="String" resultType="Product">
    SELECT
      PRODUCTID,
      NAME,
      DESCN as description,
      CATEGORY as categoryId,
      IMG AS imgUrl
    from PRODUCT
    WHERE lower(NAME) like #{keywords}
    </select>

    <select id="searchCategoryProductList" parameterType="String" resultType="Product">
    SELECT
        PRODUCTID,
        NAME,
        DESCN AS description,
        CATEGORY AS categoryId,
        IMG AS imgUrl
    FROM PRODUCT
    WHERE lower(CATEGORY) LIKE #{keywords}
    </select>

    <select id="searchProductNameList" parameterType="String" resultType="String">
    SELECT NAME FROM PRODUCT WHERE lower(NAME) LIKE #{keywords}
    </select>

    <select id="getProductsByProductRequest" resultType="Product">
        SELECT
            PRODUCTID,
            NAME,
            DESCN AS description,
            CATEGORY AS categoryId,
            IMG AS imgUrl
        FROM PRODUCT
        WHERE 1=1
        <if test="name != null and name != ''">
            and NAME like '%${name}%'
        </if>
        <if test="categoryIdList != null and categoryIdList.length > 0">
            and CATEGORY in
            <foreach collection="categoryIdList" item="categoryId" open="(" close=")" separator=",">
                #{categoryId}
            </foreach>
        </if>
    </select>

    <update id="updateProduct">
        UPDATE PRODUCT
        <set>
            <if test="name != null">NAME=#{name},</if>
            DESCN=#{description},
            <if test="imgUrl != null">IMG=#{imgUrl}</if>
        </set>
        WHERE PRODUCTID = #{productId}
    </update>
    
    <delete id="deleteProduct">
        DELETE FROM PRODUCT
        WHERE PRODUCTID = #{productId}
    </delete>

    <insert id="insertProduct" parameterType="Order">
        INSERT INTO PRODUCT
            (PRODUCTID, CATEGORY, NAME, DESCN, IMG)
        VALUES
            (#{productId}, #{categoryId}, #{name}, #{description}, #{imgUrl})
    </insert>
    
    <select id="countProductByCategoryId" resultType="int">
        SELECT COUNT(PRODUCTID)
        FROM PRODUCT
        WHERE CATEGORY = #{categoryId}
    </select>
</mapper>
