<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/includeTop :: #public_head">
</head>

<body>
<header th:replace="common/includeTop :: #public_header">
</header>

<div id="Content">

    <div id="BackLink">
        <a th:href="@{/category/} + ${product.categoryId}">
            Return to [[${product.categoryId}]]
        </a>
    </div>

    <div id="Product">

        <h2 th:text="${product.name}"></h2>

        <table class="table table-hover">
            <tr>
                <th>Item ID</th>
                <th>Product ID</th>
                <th>Description</th>
                <th>List Price</th>
                <th>&nbsp;</th>
            </tr>
            <!-- list -->
                <tr th:each="item : ${itemList}">
                    <td>
                        <a th:href="@{/item/} + ${item.itemId} + '#navigation'" th:text="${item.itemId}">
                        </a>
                    </td>
                    <td th:text="${item.productId}"></td>
                    <td>
                        [[${item.attribute1}]] [[${item.attribute2}]] [[${item.attribute3}]]
                        [[${item.attribute4}]] [[${item.attribute5}]] [[${product.name}]]
                    </td>
                    <td th:text="'$' + ${#numbers.formatDecimal(item.listPrice, 0, 'COMMA', 2, 'POINT')}">
                    </td>
                    <td>
                        <a class="Button .addToCart" style="cursor: pointer;"
                           th:onclick="addItemToCart([[${item.itemId}]])">
                            Add to Cart
                        </a>
                    </td>
                </tr>

        </table>
        <br>

    </div>

</div>

</div>

<footer th:replace="common/includeBottom :: #public_footer">
</footer>

</body>

</html>





